<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Oguz's Coffee</span>
        <span class="site-heading-lower">Antalya / Turkey</span>
    </h1>
</header>
